Django==1.4
Fabric==1.4.2
PIL==1.1.7
Werkzeug==0.8.3
dj-database-url==0.2.1
django-bootstrap-toolkit==2.5.3
django-devserver==0.3.2
django-extensions==0.9
django-imagekit==2.0.1
django-storages==1.1.4
geopy==0.94.2
guppy==0.1.9
gunicorn==0.14.6
linaro-django-pagination==2.0.2
line-profiler==1.0b3
pep8==0.6.1
psycopg2==2.4.5
pycrypto==2.6
#pysqlite==2.6.3
sqlparse==0.1.4
ssh==1.7.14
wsgiref==0.1.2
