{% extends "base.html" %}

{% load bootstrap_toolkit %}
{% load pagination_tags %}

{% block extra_css %}
  #map{
    display: block;
    width: 95%;
    height: 400px;
    margin: 0 auto;
    -moz-box-shadow: 0px 5px 20px #ccc;
    -webkit-box-shadow: 0px 5px 20px #ccc;
    box-shadow: 0px 5px 20px #ccc;
  }

  /* GMaps bug- https://github.com/twitter/bootstrap/issues/2410 */
  #map img {
    max-width: none;
  }
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{{STATIC_URL}}jquery-ui-1.8.21.custom/css/cupertino/jquery-ui-1.8.21.custom.css">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}jquery-ui-1.8.21.custom/js/jquery-ui-1.8.21.custom.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src='https://raw.github.com/HPNeo/gmaps/master/gmaps.js'></script>
  <script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
  <script type="text/javascript">
    // OpenTok
    var apiKey = '16434561';
    var sessionId = '1_MX4xMjMyMDgxfjcyLjUuMTY3LjE0OH4yMDEyLTA3LTAxIDIyOjUxOjE4LjQ4NjEyNCswMDowMH4wLjMwNTI3MzcwMjgxOX4';
    var token = 'devtoken'; 

    TB.setLogLevel(TB.DEBUG); // Set this for helpful debugging messages in console

    var session = TB.initSession(sessionId);
    session.addEventListener('sessionConnected', sessionConnectedHandler);

    function connectOpenTok() {
        session.connect(apiKey, token);
    }

    var publisher;

    function sessionConnectedHandler(event) {
        // Put my webcam in a div
        publisher = TB.initPublisher('myPublisherDiv');
        // Send my stream to the session
        session.publish(publisher);
    }

    var map;
    $(document).ready(function(){
      map = new GMaps({
        div: '#map',
        zoom: 11,
        lat: 30.264998,
        lng: -97.691219
      });

      {% for animal in alist %}
        map.addMarker({
          lat: {{animal.geometry.y}},
          lng: {{animal.geometry.x}},
          title: '{{animal.animal_id}}',
          icon: '/static/images/small-marker.png',
          infoWindow: {
content: "<table cellspacing='50%'><tr><td><p>{{animal.name|lower}}<br>{{animal.description|lower}}<br>{{animal.sex}}<br />{{animal.location}}<br />age: {{animal.age}}<br/>intake total: {{animal.intake_total}}<br />intake condition: {{animal.intake_condition|lower}}</p></td><td><p align='right'><img src='http://www.petharbor.com/get_image.asp?RES=Thumb&ID={{animal.animal_id}}&LOCATION=ASTN'><br />{{animal.animal_id}}</p></td></tr></table><button onclick='connectOpenTok()'>View Animal</button>"
          }
        });
      {% endfor %}

      $('#id_intake_date').datepicker({dateFormat: 'yy-mm-dd'});

    });
  </script>
{% endblock %}

{% block content %}
<div class="hero-unit">
<h1>StrayMapper </h1>
  <p>The quick brown fox jumped over the lazy dog.</p>

  <div id="myPublisherDiv"></div>
  </div> 


<div class="row">
<div class="span3">
Search Results<br /><br />
<table class="table" cellpadding="10">
  {% autopaginate alist 5 as paginated_alist %}
  {% for animal in paginated_alist %} 
  <tr> 
    <td>{{animal.description|lower}}<br /> 
      {{animal.animal_type|lower}}<br /> 
      {{animal.sex}}<br /> 
      {{animal.intake_date|date:"n/j/o"}}
    </td>
  </tr>
  {% endfor %}
</table>
{% paginate using "animals/paginate.html" %}
</div>
<div class="span9"> 
<form class="well form-inline" action="" method="POST">{% csrf_token %} 
<table>
<tr>
  <td><label>Animal Type: </label>
    {{form.animal_type}}</td>
  <td>
  <label>Sex: </label> 
    {{form.sex}}
  </td>
  <td><label>Intake date:</label> 
    {{form.intake_date}}
    </td>
  <td> 
    <label>Intake condition:</label>
    {{form.intake_condition}} 
  </td>
</tr>
  <td> 
    <input type="submit" value="Search" class="btn btn-primary"> 
    </td>
</table>      
</form>
 
  <div>{{results_count}} animals displayed</div>
  <br /> 
  <div id="map"></div>
</div>
<div class="row">
  <div class="span12">
    
  </div>
</div>
<script src="http://codeforamerica.github.com/cfa_banner/banner.js?type=corner-right&forkUrl=https://github.com/codeforamerica/straymapper" id="cfa_banner_script"></script>
{% endblock %}
