{% extends "base.html" %}

{% load bootstrap_toolkit %}
{% load pagination_tags %}

{% block extra_css %}
#map{
    display: block;
    width: 95%;
    height: 400px;
    margin: 0 auto;
    -moz-box-shadow: 0px 5px 20px #ccc;
    -webkit-box-shadow: 0px 5px 20px #ccc;
    box-shadow: 0px 5px 20px #ccc;
}

/* GMaps bug- https://github.com/twitter/bootstrap/issues/2410 */
#map img {
    max-width: none;
}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{STATIC_URL}}jquery-ui-1.8.21.custom/css/cupertino/jquery-ui-1.8.21.custom.css">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}jquery-ui-1.8.21.custom/js/jquery-ui-1.8.21.custom.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src='https://raw.github.com/HPNeo/gmaps/master/gmaps.js'></script>
<script type="text/javascript">
    var map;
    var prev_mark_num = 0;

    function openMarkerInfo(count, page) {
        map.markers[prev_mark_num]['infoWindow'].close(map.map, map.markers[prev_mark_num]);
        mark_num = ((page - 1) * 5) + count;
        map.markers[mark_num]['infoWindow'].open(map.map, map.markers[mark_num]);
        prev_mark_num = mark_num;
    }

    $(document).ready(function(){
        map = new GMaps({
            div: '#map',
            zoom: 11,
            lat: 30.264998,
            lng: -97.691219
        });

        {% for animal in alist %}
            map.addMarker({
                lat: {{animal.geometry.y}},
                lng: {{animal.geometry.x}},
                title: '{{animal.animal_id}}',
                icon: '{{STATIC_URL}}images/small-marker.png',
                infoWindow: {
                    content: "<table cellspacing='50%'><tr><td><p>{{animal.name|lower}}<br>{{animal.description|lower}}<br>{{animal.sex}}<br />{{animal.location}}<br />age: {{animal.age}}<br/>intake total: {{animal.intake_total}}<br />intake condition: {{animal.intake_condition|lower}}</p></td><td><class='span2'><br /><br /> <p align='right'>{{animal.animal_id}}</p></td></tr></table>"
                }
            });
        {% endfor %}

        $('#id_intake_date_start').datepicker({dateFormat: 'yy-mm-dd'});
        $('#id_intake_date_end').datepicker({dateFormat: 'yy-mm-dd'});

    });
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span3">
        <h4>Search Results</h4>
        <table class="table" cellpadding="10">
            {% autopaginate alist 5 as paginated_alist %}
            {% for animal in paginated_alist %}
                <tr onclick="openMarkerInfo({{forloop.counter0}}, {{page_obj.number}});">
                    <td>
                        <ul class="thumbnails">
                            <li class="span2">
                                {% if animal.photo.size > 231 %}
                                    <img src="{{animal.thumbnail.url}}">
                                {% else %}
                                    <img src="{{STATIC_URL}}images/NoImage.jpg">
                                {% endif %}
                            </li>
                        </ul>
                    </td>
                    <td>
                        {{animal.description|lower}}
                        <br />
                        {{animal.animal_type|lower}}<br />
                        {{animal.sex}}
                        <br />
                        {{animal.intake_date|date:"n/j/o"}}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% paginate using "animals/paginate.html" %}
    </div> <!-- End span3 -->

    <div class="span9">
        <form class="well form-inline" id="search-form" action="{% url home %}" method="POST">{% csrf_token %}
            <table cellpadding="5">
                <tr>
                    <td>Animal Type:</td>
                    <td>Sex:</td>
                    <td>Intake Date:</td>
                    <td></td>
                    <td>Intake Condition</td>
                </tr>
                <tr>
                    <td>{{form.animal_type}}</td>
                    <td>{{form.sex}}</td>
                    <td>{{form.intake_date_start}}</td>
                    <td>{{form.intake_date_end}}</td>
                    <td>{{form.intake_condition}} </td>
                </tr>
            </table>
            {{form.has_image.label}} {{form.has_image}}
            {{form.is_adoptable.label}} {{form.is_adoptable}}
            <input type="submit" name="search-btn" value="Search" class="btn btn-primary">
            <input type="submit" name="reset-btn" value="Reset" class="btn btn-primary">
        </form>
        <div>{{results_count}} animals to display from {{ startdate }}  to {{ enddate }}</div>
        <br />
        <div id="map"></div>
    </div> <!-- End span9 -->
</div> <!-- End row -->
{% endblock %}
