<table cellspacing='50%'>
    <tr>
        <td>
            <p>
                {{animal.name|lower}}<br>{{animal.description|lower}}<br>{{animal.sex}}<br />{{animal.location}}<br />age: {{animal.age}} days<br/>intake total: {{animal.intake_total}}<br />intake condition: {{animal.intake_condition|lower}}
            </p>
        </td>
        <td>
            <class='span2'><p align='right'>
                <img src="{{animal.thumbnail.url}}">
                <br/>Think this is your pet?<br/> <a href='{% url animals_view animal.animal_id %}'>Take a Closer Look</a>
            </p>
        </td>
    </tr>
</table>
