{% extends "base.html" %}

{% block extra_css %}
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <h1>{{animal.name}}</h1>
        <h2>{{animal.description}}</h2>
        <img src="{{animal.photo.url}}"><br/>
        {{animal.location}}<br/>
        {{animal.sex}}<br />
        {{animal.intake_date|date:"n/j/o"}}<br/>
        {{animal.age}}<br/>
        {{animal.intake_condition}}
        <br/><br/>
        <h3>So is this your animal?</h3>
        <p>Call or <a onclick="olark('api.box.expand')" href='#'>chat with the animal shelter</a> below and please provide them with the following id, <strong>{{animal.animal_id}}</strong> to speed up process of getting your pet back.<p>
    </div> <!-- End span12 -->
</div> <!-- End row -->
{% endblock %}
